<div class="contents row">
  <div class="user-prf">
  </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <% @user=current_user %>
          <th class="detail-user">ニックネーム</th>
          <td class="detail-value"><%= @nickname %></td>
        </tr>
        <tr>
          <th class="detail-user">年齢</th>
          <td class="detail-value"><%= @age %></td>
        </tr>
        <tr>
          <th class="detail-user">職業</th>
          <td class="detail-value"><%= @occupation %></td>
        </tr>
        <tr>
          <th class="detail-user">自己紹介文</th>
          <td class="detail-value"><%= @self_introduction %></td>
        </tr>
      </tbody>
    </table>
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id), method: :get do %>
        <div class="title">
          <p><b><%= post.title %></b></p>
            <%= image_tag post.image.variant(resize: '500x500'), class: 'post-img' %>
      <% end %>
              </div>投稿内容
              <p><%= post.text %></p>
    <% end %>
</div>