<div class="post-info">
  <div class="title">
  <%= link_to "by #{@post.user.nickname}", user_path(@post.user.id) %>
    <p><b><%= @post.title %></b></p>
      <%= image_tag @post.image.variant(resize: '500x500'), class: 'post-img' %>
  </div>投稿内容
    <p><%= @post.text %></p>
    <div class="show-view">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="edt-btn">
          <p><%= link_to '編集', edit_post_path(@post.id), method: :get, class: "post-red-btn" %></p>
        </div>
          <p class='or-text'>or</p>
            <div class="des-btn">
              <%= link_to '削除', post_path(@post.id), method: :delete, class:'post-destroy' %>
            </div>
      <% end %>
      <div class="container">
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
            <%= form.submit "SEND" %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
      </div>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
</div>