<!DOCTYPE html>
<html>
  <head>
    <title>Comrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="aprname">
  <h1>comrade</h1>
  </div>
    <h3>👇~仲間を見つけよう~👇</h3>
      <%= breadcrumbs separator: " &rsaquo; " %>
    <% if user_signed_in? %>
      <div class="user_nav_grid-6">
        <div class="logout-btn">
          <b><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></b>
        </div>
        <div class="post-btn">
          <b><%= link_to "投稿する", new_post_path, class: "post" %></b>
        </div>
        <div class="user__info">
          <div class="my-page">
            <b><%= link_to "#{current_user.nickname}(マイページ）", user_path(id: current_user) %></b>
          </div>
          <div class="myp-edit">
            <p><b><%= link_to "#{current_user.nickname}(マイページ編集）", edit_user_path(id: current_user) %></b></p>
          </div>
          <div class="tyato">
            <%= render 'side' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="grid-6">
        <div class="login-btn">
          <b><%= link_to "ログイン", new_user_session_path, class: "post" %></b>
        </div>
        <div class="reg-btn">
          <b><%= link_to "新規登録", new_user_registration_path, class: "post" %></b>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
